/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v26-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alata-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alata-v9-latin-regular.woff2") format("woff2");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
}
ul,
ol {
  list-style: none;
}
img {
  object-fit: cover;
  display: inline-block;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 165px;
  margin: 0 auto;
}
.header-container {
  background-image: url(../images/header-ng.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 64px;
  padding-bottom: 132px;
  margin-bottom: 132px;
}
.header-nav {
  display: flex;
}
.header-logo {
  margin-right: auto;
}
.site-nav {
  display: flex;
  gap: 30px;
}
.site-nav-link {
  color: #ffffff;
}
.header-sarlavha {
  margin: 132px auto 0 0;
  border: 2px solid #ffffff;
  width: 650px;
  height: 278px;
  font-size: 72px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding: 40px 40px;
  text-transform: uppercase;
}
.hero-content {
  width: 1111px;
  height: 500px;

  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  position: relative;
}
.hero-content-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 541px;
  height: 317px;
  color: #000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 10px;
}
.hero-sarlavha {
  width: 445px;
  height: 96px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-transform: uppercase;
}
.hero-poragrf {
  display: flex;
  align-items: end;
  width: 445px;
  height: 100px;
  opacity: 50%;
}
.our-creations {
  padding: 132px 165px;
  color: #000;
}
.our-cr-box-text {
  width: 256px;
  height: 450px;
  margin-top: 30px;
  position: relative;
}
.our-cr-sarlavha {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
}
.our-cr-link {
  color: #000;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1;
  width: 157px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}
.our-cr-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.our-cr-text-content {
  display: flex;
  margin-bottom: 30px;
}
.our-cr-box-text-1 {
  background-image: url(../images/our-cr-1.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-2 {
  background-image: url(../images/our-cr-2.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-3 {
  background-image: url(../images/our-cr-3.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-4 {
  background-image: url(../images/our-cr-4.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-5 {
  background-image: url(../images/our-cr-5.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-6 {
  background-image: url(../images/our-cr-6.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-7 {
  background-image: url(../images/our-cr-7.png);
  background-repeat: no-repeat;
}
.our-cr-box-text-8 {
  background-image: url(../images/our-cr-8.png);
  background-repeat: no-repeat;
}
.our-cr-sarlavha {
  margin-right: auto;
}
.site-footer {
  padding: 50px 165px;
  background-color: #000000;
}
.our-cr-box-text h3 {
  position: absolute;
  left: 40px;
  top: 354px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 32px;
  line-height: 1;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.footer-nav {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: auto;
}
.footer-nav-list {
  display: flex;
  gap: 25px;
  margin-right: auto;
}
.footer-icon-link {
  display: flex;
  gap: 15px;
}
.site-nav-link {
  position: relative;
}
.site-nav-link::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  position: absolute;
  bottom: -9px;
}
.site-nav-link:hover::before {
  width: 100%;
}
.footer-poragrf {
  opacity: 50%;
}
.our-cr-link:hover {
  background-color: #000000;
  color: #ffffff;
}
.our-cr-box-text:hover {
  opacity: 75%;
}
.footer-link {
  position: relative;
}
.footer-link::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  position: absolute;
  bottom: -9px;
}
.footer-link:hover::before {
  width: 100%;
}
